body {

}

header {
  width: 100%;
  border-bottom: 1px solid black;
}

#oeuvre {
  display: flex;
}

#info {
  width: 20%;
  border-right: 1px solid black;
}

main {
  width: 80%;
}

svg {
  width: 100%;
  height: 75%;
}
