body {

}

header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid black;
}

#oeuvre {
  display: flex;
}

#info {
  width: 20vw;
  height: 90vh;
  border-right: 1px solid black;
}

main {
  width: 80vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 100%;
  height: 95%;
}

#container-images-rondes {
  position: fixed;
  left: 54%;
  top: 35%;

  width: 15%;
  border-radius: 200px;

  background-color: red;
}

.grande-ronde {
  position: absolute;
  width: 100%;
  border-radius: 100px;
  opacity: 0;
  transition: opacity 2s;
}

.grande-ronde.actif {

}
